* {
    padding: 0;
    margin: 0;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.grid-index {
    display: grid;
    grid-template-areas: 
        "header"
        "banner"
        "carrusel"
        "productos-index"
        "suscripcion-index"
        "footer";
    grid-template-rows: auto auto auto auto auto auto;
}

section {
    background-color: #fffffa;
}

.masvendidos__productos {
    margin: 50px;   
}

.footer__fondo {
    background-color: #333;
}

.footer__conteiner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.footer__informacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer__secciones {
    padding: 10px;
    margin: 10px;
}

.footer__tt {
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #959595;
    padding: 1rem 0 1rem 0;
}

.footer__link {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.4;
    color: #efefef;
    letter-spacing: 0.5px;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 3px;
    
}

.footer__linkredes {
    text-decoration: none;
    color: #efefef;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 2px;
    letter-spacing: 0.5px;
}

.footer__formato {
    display: flex;
    flex-direction: column;
    color: #efefef;
    font-size: 1rem;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    color: #959595;
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding: 0 20px 0 20px;
}

.footer__pie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.footer__link__pie1 {
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #efefef;
    letter-spacing: 0.5px;
    margin-right: 8px;
    padding: 3px;
}

.guion {
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #efefef;
    display: flex;
    align-items: center;
    padding: 3px;
}

.footer__link__pie2 {
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #efefef;
    letter-spacing: 0.5px;
    margin-left: 8px;
    padding: 3px;
}

.suscripcion {
    padding: 60px;
}

header {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f5f2;
    grid-area: header;
}

.logo-img {
    width: 150px;
    margin: 0px 40px;
}

nav{
	max-width: 900px;
	margin: auto;
	background-color: #f8f5f2;
	font-size: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: #BCAA94;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	transform: scale(1.05);
}
.menu-vertical{
	position: absolute;
	display: none;
    font-size: 1.1rem;
	list-style: none;
	width: 150px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color:#BCAA94;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.menu__link {
    text-decoration: none;
    color: #BCAA94;
    padding: 16px;
    margin: 10px;
}

div img:hover {
    transform: scale(1.05);
}

div img {
    transition: .6s;
}

.banner {
    height: auto;
    width: auto;
    grid-area: banner;
}

.banner__imagen {
    width: 100%;
    height: 100%;
}

.testimonios {
    margin: 20px;
    padding: 20px;
    width: auto;
}

.carrusel {
    grid-area: carrusel;
}


ul.slider {
    position: relative;
    width: auto;
    height: 100px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: #f7eade;
    transition: opacity .5s;
    text-align: center;
    place-items: center;
    padding-top: 20px;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu-testimonios {
    text-align: center;
}

.menu-testimonios li {
    display: inline-block;
    text-align: center;
} 

.menu-testimonios li a {
    margin-top: 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #343f37;
    padding: 10px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    border-radius: 100%;
}

.masvendidos__tt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 45px;
    color: #BCAA94;
    font-family: 'Dancing Script', cursive;
}

.masvendidos__productos {
    height: 100%;
    width: auto;
}

.masvendidosimg {
    height: 250px;
    margin: 5px;
    border: 7px solid #E9E9E9;
    border-radius: 6px;
}

.masvendidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.masvendidos__nombre {
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    color: #BCAA94;
    text-align: center;
    margin: 5px;
}

.masvendidos__precio {
    font-size: 18px;
    text-align: center;
    color: black;
    margin: 5px;
}

.masvendidos__boton {
    background-color: #BCAA94;
    color: #fffffa;
    font-size: 17px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.Vertodos {
    display: flex;
    justify-content: center;
}

.vertodos__boton {
    background-color: #BCAA94;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;       
}

.vertodos__boton a {
    text-decoration: none;
    color: #fffffa;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.suscripcion {
    background-color: #8ba188;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productos__tt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 45px;
    color: #BCAA94;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Productos1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Productos2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productos__img {
    height: 250px;
    width: 180px;
    margin: 5px;
    border: 7px solid #E9E9E9;
    border-radius: 6px;
}

.productos__nombre1 {
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    color: #BCAA94;
    text-align: center;
    margin: 5px;
}

.productos__precio1 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin: 5px;
}

.productos__boton1 {
    background-color: #BCAA94;
    color: #fffffa;
    font-size: 17px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.productos__bt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.grid-productos {
    display: grid;
    grid-template-areas:
    "header"
    "productos-pag"
    "footer";
    grid-template-rows: auto auto auto;
}

.productos-index {
    grid-area: productos-index;
}

.suscripcion-index {
    grid-area: suscripcion-index;
}

.nosotros__tt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 45px;
    color: #BCAA94;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nosotros__video {
    margin: 10px 50px 10px 50px;
    padding: 10x;
}

.nosotros__texto {
    margin: 10px 50px 10px 50px;
    padding-top: 10x;
}

.contacto__tt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 45px;
    color: #BCAA94;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.contacto__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacto__img1 {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: 10px 100px 50px;
}

.contacto__img2 {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: 10px 0 50px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px 100px 50px 150px;
}

.form__imput {
    margin: 7px;
    font-size: 1.1rem;
    width: 400px;
    font-family: 'Roboto Condensed', sans-serif;
}

.form__imput1 {
    margin: 7px;
    font-size: 1.1rem;
    width: 400px;
    height: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}

.form__botom {
    display: flex;
    justify-content: end;
    margin-right: 10px; 
}

.form__botom1 {
    background-color: #BCAA94;
    color: #fffffa;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 800;
    letter-spacing: 2px;
}

/*@media (max-width: 870px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 862px) {
    .menu  {
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
    }
}*/


